.logo {
    background-color: #fff !important;
    border-radius: 50px !important;
    box-shadow: 15px 115px 175px 50px black !important;
}

a {
    text-decoration: none !important;
}

main.content {
    padding: 1rem 1rem 1.5rem;
}

.scrollproductos {
    overflow-y: scroll;
    height: 60vh;
}

body {
    scrollbar-width: thin;
    scrollbar-color: #222e3c #181a1b;
}
div.seleccionado{
    background-color: #2c94c6 !important;
    border: 1px solid #fff;
}
div.progress{
    height: 2rem !important;
    font-weight: bold;
    font-size: 16px;
}
img.logo{
    width: 35px;
    border-radius: 100px;
}

div.columna {
    width: 14%;
}

div.menumovil {
    flex: initial;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
    margin: 0;
    overflow: initial;
}