
.main, .footer{
    background-color: #1c1e1f !important;
}
.card, .navbar-bg{
    background-color: #181a1b !important;
}
.card-header{
    background-color: #181a1b !important;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
    color: #fff;
}
span{
    color: #fff !important;
}
.flatpickr-day{
    color: #fff;
}
.table td, .table th{
    color: #fff !important;
}
span.text-dark{
    color: #ffffff !important;
}
.modal-content{
    background-color: #1c1e1f !important;
}
.modal label{
    color: #fff !important;
}
.container-fluid{
    color: #fff !important;
}