@media screen and (max-width: 400px) {

    div.menumovil {
        display: flex;
        flex-wrap: initial;
        flex: initial;
        overflow: scroll;
        padding: 0 2% !important;
        justify-content: initial;
    }

    div.columna {
        width: 44%;
        padding: 0 1%;
    }

    #reportesSeccion {
        justify-content: start !important;
        padding-bottom: 12px;
    }

    .card-body.perfil {
        padding: 0.65rem 0rem !important
    }   
    .slider{
        display: none;
    }
}